.venv
.venv311
EURUSD_ticks_2009_to_2025.csv
.DS_Store
EURUSD_1sec_bars.csv
features_for_rl.csv
tensorboard
.codex
llm-rag.zip
Archive.zip

# Chroma artifacts
**/chroma_db/
**/chroma_db_old/
**/chroma_store_images/
**/chroma_store_text_bge_1024/

time_to_embedding_cls.joblib