stable-baselines3==2.3.2
gymnasium>=0.28.1,<0.30
numpy>=2.0.0,<3.0.0
pandas>=2.1.0,<3.0.0
joblib
torch
chromadb
FlagEmbedding

# ==================================================
# MT5 / Live / Strategy Tester
# ==================================================
mt5linux==0.2.4
