*
!.dockerignore
!Dockerfile.prod
!requirements.txt
!entrypoint.prod.sh
!smarfrobottrade-firebase.json
!src/
!src/**
!lib/
!lib/**

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
