DATABASE_URL = 'postgresql://[user]:[password]@localhost:5432/[db]'
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_PASSWORD = 'yourpassword'
JWT_SECRET = "unknown_xxx"

# SECRET_KEY ENCRYPT MT5
SECRET_KEY = "unknown_xxx"

# CloudFlare TurnStile
TURNSTILE_SECRET_KEY = 'unknown_xxx'

# Resend
RESEND_API_KEY = "re_Vxxxx"
EMAIL_FROM="SmarfRobotTrade <noreply@email.unknownxxx.net>"

#STRIPE
STRIPE_SECRET_KEY="sk_test_xxxx"


#LLM VISION MODEL OLLAMA
BASE_URL_LLM = "http://localhost:11434"
MODEL_PROVIDER = "ollama"
MODEL_LLM = "ministral-3:14b"