# ==================================================
# RL Core (train/test)
# ==================================================
stable-baselines3[extra]
gymnasium
shimmy>=2.0.0
numpy<2.0.0
pandas
joblib
scikit-learn

torch

# Semantic embedding + vector DB
chromadb
FlagEmbedding

# Utilities
matplotlib          # test plotting
tensorboard         # train logs
tqdm
pytz

# ==================================================
# MT5 / Live / Strategy Tester
# ==================================================
git+https://github.com/lucas-campagna/mt5linux.git@master
pyzmq               # used by mt5_strategy_tester/zmq_bridge_server.py
